<!DOCTYPE html>
<html>
    <head>
        <title>happy birthdayyyy kweeeennnnn</title>
    </head>
    <body>
        <h1>Haaaaapppppppyyyyyyyyyy birthdayyyyyyyyy Kweeeeeennnnnnnn</h1>
<h3>playyy me birthdayyyy girll</h3>
<audio controls>
        <source src="happy-birthday-357371.mp3" controls type="audio/mp3">
            </audio>

            <p>Happy birthdayyyy yaarrrr;) I know tune kuch jydaa krne se mana kra tha but this the least i can do for you.<br>
                Baaki yaaar mazeee krrrrr haterrr jahanavii. arehh and sorry for the giftt, muje pata h tune mana kra tha but <br>
                but woh dresss thi hi itni prettyy ki dekhh k maan krdiyaa lene kaa. and ab tu hi btaa itni pretty dress tu deservee krtii . <br>
pretty dresss pretty logon pe aur v pretty lagegi. baaki yaar tu ab paaglo jesaa mt krnaaa mera bdayyy ko lekee tu khush rehh aur healthy rehh wohii meraa giftt h </p>


<p>aur bta aaj ka din kesaa tha teraaa. gharr pe kya kya banaaa????? mazaaa aaraa naaa ???? <br>

    <p>areehh  mene sing hi na kra songgggg .......kyaa gawaarr hu me vi naa</p>
<p>Happy birthdayyyy to youuu<br>
    Happy birthdayyyy to you<br>
    May your dreams all come truee<br>
    May your  dreams all come true<br>
    Happy long life to you<br>
    Happy long life to you <br>
    Happy birthdayyyy to youu<br>
    Happy birthdayyyy to youuu<br>
    <I>jahanavii:)</I> 

    <h3>This is not the end</h3>
    <h3>ek aur h internet pe milgyaaaa</h3>
    <p>I don't know what i've been told<br>
        Someone here is getting old (hatttt tu evergreen h)<br>
        Good news is i sing for free<br>
        bad news is i sing off key<br>
        Hope i have embarassed you<br>
        it's the least that i can do<br>
        happy.....birthdayyyyy
    </p>

    <h1> welll welll wellll..... this is not the end</h1>
    <h3>Woh kehte na best part humeshaa last me aata</h3>


    <p>Here comes thee besst parttttt</p>

    <img src="WhatsApp Image 2025-09-27 at 2.23.57 AM (1).jpeg" height="500" width="500"/>
    <audio controls>
        <source src="Gulzar Nu Bulava  Aneet Padda  High on you.mp3" control type="audio/mp3">
    </audio>
<p><i>Gulzar Nu Bulava Kujh Tere Te Likhava </i><br>
<i>Mainu Sanghe Di Shayari Kamzor Lagdi </i><br>
<I>Yaadan Yu Aunda Gal Door Di</I><br>
<i>Ajj Kal Sanu Teri Tod Lagdi</i><br>
<i>O Yaadan Yu Aunda Gal Hor Hundi</i></p>

<p>aviii aur v hh</p>

<video width="320" height="240" controls>
    <source src="WhatsApp Video 2025-09-27 at 3.00.05 AM (1).mp4" full screen loop type="video/mp4">
    </video>
    <audio controls>
        <source src="something_about_you.mp3" control type="audio/mp3">
</audio>
 <p><I> She looks just like a dream</I><br>
    <i>The prettiest girl i have</i> <br>
    <i>From the cover of a mazagine</I>
</p>


    
